/* perfil.page.scss */

.header-title {
  background-color: #fff;
  color: #333; /* Color gris oscuro del título */
}

.header-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title-wrapper img {
  margin-left: 8px;
}

.login-content {
  --background: #f2f2f2; /* Color de fondo gris claro */
  position: relative;
  overflow: hidden; /* Ocultar desbordamientos para la animación de fondo */
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(240, 240, 240, 0.9) 25%, rgba(225, 225, 225, 0.9) 50%, rgba(240, 240, 240, 0.9) 75%);
  z-index: -1;
  animation: waves 10s linear infinite;
}

@keyframes waves {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background: rgba(225, 225, 225, 0.95); /* Color de fondo gris medio con opacidad */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out; /* Añadida animación simple */
}

.message, .signin {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.signin a {
  color: #333;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.input:focus {
  border-color: #888;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333; /* Color del ícono de "ojo" */
}

.submit {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #555;
}

.validation-message {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

.ion-text-center {
  text-align: center;
}

.ion-margin-top {
  margin-top: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
