<ion-header>
  <ion-toolbar>
    <ion-title>Estados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>





  <ion-list class="ion-no-padding">
    <ion-item class="status-item" *ngFor="let status of statuses">
      <div class="status-content">
        <div class="status-image">
          <img [src]="status.imageUrl" alt="Status Image" />
        </div>
        <div class="status-info">
          <h2>{{ status.title }}</h2>
          <p>{{ status.description }}</p>
          <p><strong>Email:</strong> {{ status.userEmail }}</p>
          <p><strong>Creado el:</strong> {{ status.createdAt | date:'short' }}</p>
        </div>
      </div>
    </ion-item>
    <ion-item class="no-more-states" *ngIf="statuses.length === 0">
      <p>No hay más estados, regresa más tarde.</p>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-button" (click)="openCreateStatusModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
