<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <div class="header-content">
        <img src="assets/wasalogo.png" alt="Logo" class="header-logo">
        <span>Chats</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" class="chat-item">
      <ion-avatar slot="start">
        <img [src]="chat.profileImage" alt="Profile Image">
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.name }}</h2>
        <p>{{ chat.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
