<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">
      <div class="header-title-wrapper">
        <span>Wasa</span>
        <img src="assets/wasalogo.png" alt="Logo" height="50px">
      </div>
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    <p class="title">Register</p>
    <p class="message">Signup now and get full access to our app.</p>

    <label class="input-wrapper">
      <input formControlName="email" class="input" type="email" placeholder="Email" required>
      <span *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="error-message">Email is required</span>
      <span *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="error-message">Enter a valid email</span>
    </label>

    <label class="input-wrapper">
      <input formControlName="password" class="input" [type]="passwordFieldType" placeholder="Password" required>
      <ion-icon name="eye" class="password-toggle" (click)="togglePasswordVisibility('password')"></ion-icon>
      <span *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="error-message">Password is required</span>
      <span *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched" class="error-message">Password must be at least 6 characters</span>
    </label>

    <label class="input-wrapper">
      <input formControlName="confirmPassword" class="input" [type]="confirmPasswordFieldType" placeholder="Confirm password" required>
      <ion-icon name="eye" class="password-toggle" (click)="togglePasswordVisibility('confirmPassword')"></ion-icon>
      <span *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched" class="error-message">Confirm Password is required</span>
      <span *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched" class="error-message">Passwords do not match</span>
    </label>

    <button type="submit" class="submit">Submit</button>
    <p class="signin">Already have an account? <a routerLink="/login">Sign in</a></p>
  </form>
</ion-content>
