ion-content {
  --background: #fff; /* Color de fondo claro */
}

ion-toolbar {
  --background: #000000; /* Color verde similar a Spotify */
}

.header-title {
  background-color: #fff;
  color: #333; /* Color gris oscuro del título */
}

.header-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title-wrapper img {
  margin-left: 8px;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Centrado horizontal del formulario */
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(225, 225, 225, 0.95); /* Color de fondo gris medio con opacidad */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out; /* Añadida animación simple */
}

.message,
.signin {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.input:focus {
  border-color: #888;
}

.input::placeholder {
  color: #999; /* Color del placeholder */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333; /* Color del ícono de "ojo" */
}

.submit {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #555;
}

.error-message {
  color: #f00; /* Color rojo para mensajes de error */
}

.validation-message {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

.signin a {
  color: #333;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  animation: pulsate 2s infinite;
  text-align: center;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
